<!DOCTYPE html>

<html lang="en">

<%- include('part/head') %>

    <body>
        <%- include('part/header') %>

        <div class="mainBody"></div>
        <p><%= row.time %></p>
        <div id="mainSaved"><%= row.content %></div>

    <button class="copy" onclick="copy()" >Copy text</button>

        <script src='javascripts/script.js'></script>
    </body>

</html>